[Unit]
Description=JAYTRIX Marketplace API
After=network.target postgresql.service

[Service]
Type=simple

WorkingDirectory=/opt/jaytrix/marketplace/server

ExecStart=/usr/bin/node index.js

Restart=always
RestartSec=3

Environment=NODE_ENV=production
EnvironmentFile=/opt/jaytrix/marketplace/server/.env

User=www-data
Group=www-data

# HARDENING
LimitNOFILE=65535
KillSignal=SIGINT
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
